$tablet: 43.75em; //700px;
$desktop: 76em; //1216px;
$desktop-lg: 90em; //1440px;

@mixin tablet {
  @media screen and(min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width: $desktop) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and(min-width: $desktop-lg) {
    @content;
  }
}