@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$dark-blue: #0B0D17;
$light-blue: #D0D6F9;
$white: #FFFFFF;

$font-primary: "Bellefair', serif";
$font-secondary: "Barlow Condensed', sans-serif";
