/* stylelint-disable color-no-hex */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$light-grey: #979797;
$grey: #24262f;
$white: #ffffff;
$dark-blue: #383b4b;
$transparent: rgb(255 255 255 / 10%);
$font-primary: 'Barlow Condensed', sans-serif;
$font-secondary: 'Bellefair', serif;
