.main__crew {
  padding: 0 1.5rem;

  @include desktop {
    max-width: 90%;
    margin: 0 auto;
  }

  picture {
    border-bottom: 1px solid $dark-blue;

    @include tablet {
      border-bottom: none;
    }
  }
}

.main__tabs {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding-bottom: 2.5rem;
  }

  @include desktop {
    justify-content: flex-start;
  }

  &--bullet {
    width: 10px;
    height: 10px;
    background-color: $light-grey;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;

    &.active {
      background-color: $white;
    }

    &:last-child {
      margin-right: 0;
    }

    @include desktop {
      width: 15px;
      height: 15px;
      margin-right: 1.5rem;

      &:hover {
        background-color: $light-blue;
        transition: background-color ease-in 0.3s;
      }
    }
  }
}

.heading__role {
  font-family: $font-secondary;
  font-size: 1rem;
  color: $white;
  opacity: 0.5;

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
    font-size: 2rem;
  }
}

.heading__name {
  font-family: $font-secondary;
  font-size: 1.5rem;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }
}

.main__content--bottom--wrapper {
  padding: 1rem 0;

  @include tablet {
    display: flex;
    flex-direction: column;
    order: -1;
  }

  @include desktop {
    align-items: flex-start;
    text-align: left;
  }
}

.main__content--bottom {
  @include tablet {
    display: flex;
    flex-direction: column;
    order: -1;
  }

  @include desktop {
    justify-content: space-evenly;
  }
}

.main__content--bottom-details {
  padding: 1rem 0;
  font-size: 0.9rem;
  line-height: 25px;
  color: #d0d6f9;

  @include tablet {
    font-size: 1rem;
    max-width: 60ch;
    margin: 0 auto;
  }

  @include desktop {
    margin: 0;
    font-size: 1.2rem;
    line-height: 32px;
  }
}

.main__crew-tablet {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main__crew-img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 600px;
}
