body {
  font-size: 1.125rem; //18px;
  font-family: $font-secondary;
  color: $white;
  line-height: 32px;
}

h1 {
  font-size: 9.375rem; //150px;
}

h2 {
  font-size: 6.25rem; //100px;
}

h3 {
  font-size: 3.125rem; //56px;
}

h4 {
  font-size: 2rem //32px;
}

h5 {
  font-size: 1.75rem; // 28px;
  letter-spacing: 4.75px;
}

.subheading-one {
  font-size: 1.75rem; //28px;
  font-family: $font-primary;
}

.subheading-two {
  font-family: $font-secondary;
  font-size: 0.875rem; //14px;
  letter-spacing: 2.35px;
}

.nav-text {
  font-family: $font-secondary;
  font-size: 1rem;
  letter-spacing: 2.7px;
}

