*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}


ul, li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}


html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

