.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 16rem;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(1.5rem);
    transform: translateX(100%);
    padding: 7.375rem 0 0 2rem;

    &--open {
      transform: translateX(0%);
    }

  &__item {
    padding-bottom: 2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      width: 4px;
      height: 31px;
    }
  }

  &__link {
    font-size: 1rem;
    letter-spacing: 2.7px;
    color: $white;
    text-transform: uppercase;
  }

    &__menu {
      &--close {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1.25rem; 
      }
  }
}