.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;

  & a {
    @include desktop {
      order: -1;
    }
  }

  @include tablet {
    padding: 0 0 0 2.4rem;
  }

  @include desktop {
    padding: 2.5rem 3.4rem 0 3.4rem;
  }

  @include desktop {
    &::after {
      content: '';
      position: relative;
      background-color: rgba(151, 151, 151, 0.25);
      height: 1px;
      order: -1;
      margin-right: -2rem;
      margin-left: 4rem;
      flex-grow: 1; // line has flexible width, alternative to width: 100%
    }
  }

  &__logo {
    width: 2.5rem;

    @include tablet {
      width: 3rem;
    }
  }

  &__menu {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.25rem;
    z-index: 2;

    @include tablet {
      display: none;
    }

    &--img {
      display: none;
      
      &.active {
        display: block;
      }
    }
  }
}

// skip links
.skip__links {
  background-color: $white;
  color: $dark-blue;
  padding: 0.3rem;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
    transform: translateY(0);
    z-index: 99;
  }
}
