.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  
  &__logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__menu {
    &--open {
      display: block;
      position: absolute;
      top: 1.8rem;
      right: 1.25rem;
    }
  }
}
