@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';
@import './base/global.scss';
@import './base/reset.scss';
@import '../components/Header/index.scss';
@import '../components/Navigation/index.scss';
@import '../components/Main/index.scss';
@import '../components/MainDestination/index.scss';
@import '../components/MainCrew/index.scss';
@import '../components/MainTech/index.scss';
@import '../components/Footer/index.scss';
